#====================================================
#                    SECRETS
#====================================================
PAYLOAD_SECRET="YOUR_SECRET_HERE"
TURSO_AUTH_TOKEN=""

#====================================================
#                      URLS
#====================================================
BASE_URL="https://fumadocs-payloadcms.vercel.app"

CORS_WHITELIST_ORIGINS="http://localhost:3000,https://fumadocs-payloadcms.vercel.app"
CSRF_WHITELIST_ORIGINS="http://localhost:3000,https://fumadocs-payloadcms.vercel.app"

DATABASE_URI=""
TURSO_DATABASE_URL=""

